
<div class="card">
    <div class="card-header">
        <h5>{{post.title}}</h5>
    </div>
    <div class="card-body">
      <p>{{post.description}}</p>
    </div>
    <p>Written by: {{post.user.name}}</p>
</div>
<form action="/create-post" method="POST"></form>
    <button type="submit">Leave Comment</button>
</div>

{{#each posts.comments}}
{{/each}}